html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 1rem;
}

.container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "icon temp"
        "icon description"
        "date date";
}

#temp-icon {
    font-size: 8rem;
}

#temp-now {
    font-size: 3.7rem;
    font-weight: bold;
}

.icon {
    grid-area: icon;
    align-self: center;
    justify-self: center;
    margin-right: 0.5rem;
}

.temp {
    align-self: end;
    grid-area: temp;
    text-align: left;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
}

#temp-range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#description {
    grid-area: description;
    align-self: start;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.date {
    grid-area: date;
    font-family: sans-serif;
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid black;
}

#date-day {
    text-transform: uppercase;
}

@media only screen and (max-width: 300px) {
    html {
        font-size: 13px;
    }
}
