name: Publish
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'images/**'
      - 'examples/**'
env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store
jobs:
  verify:
    name: Publish
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: install pnpm
        run: npm i pnpm@latest -g
      - name: Setup npmrc
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - name: setup pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - name: Install Dependencies
        run: pnpm install
      - name: Check Formatting
        run: pnpm format:check
      - name: Build
        run: pnpm -r build:clean
      - name: Publish to npm
        run: pnpm ci:publish
