name: Pipeline
on:
  pull_request:
    paths-ignore:
      - 'images/**'
env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store
jobs:
  verify:
    name: Build and Verify
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: install pnpm
        run: npm i pnpm@latest -g
      - name: setup pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - name: Install Dependencies
        run: pnpm install
      - name: Check Formatting
        run: pnpm format:check
      - name: Build Packages
        run: pnpm -r build:clean
      - name: Build Typescript
        run: pnpm build:clean
